.odd-num {
  background-color: rgb(253, 159, 174);
  font-family:
    Verdana,
    DejaVu Sans,
    sans-serif;
}
#first-even {
  color: blue;
  font-size: 32px;
}
#first-odd {
  font-size: 24px;
}
#second-even {
  background-color: rgb(125, 244, 125);
  font-size: 24px;
  font-weight: bold;
}
